* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    display: flex;
    background-color: #fff;   
}

.form {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid #ccc;
    margin: 10%;
}

.form-input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    margin: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    width: 46%;
    margin: 2%;
}

.list-items {
    list-style-type: none;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    background-color: #28a745;
    color: #fff;
    margin-right: 5px;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.edit-button:hover {
    background-color: #218838;
}

.delete-button:hover {
    background-color: #c82333;
}